In [1]:
import os
import pandas as pd
# install xlrd

data = {}
path = 'regionalna-raven'
for size in os.listdir(path):
    data[size] = {}
    
    for how in os.listdir(os.path.join(path, size)):
        data[size][how] = pd.DataFrame()
        
        print(size + " " + how)
        for file in os.listdir(os.path.join(path, size, how)):
            
            file_path = os.path.join(path, size, how, file)
            xls = pd.ExcelFile(file_path)
            
            for sheet_name in xls.sheet_names:
                
                first_row = pd.read_excel(xls, sheet_name, skiprows=[0]).columns
                upper_left_cell = first_row[0]
                
                rows_to_skip = [0]
                if upper_left_cell == 'Unnamed: 0':
                    rows_to_skip = [0, 1]

                sheet_data = pd.read_excel(xls, sheet_name, skiprows=rows_to_skip)
                sheet_data['month'] = sheet_name
                sheet_data['year'] = file.split("_")[3].split(".")[0]
                data[size][how] = pd.concat([data[size][how], sheet_data])

po-obcinah izobrazba
po-obcinah spol
po-obcinah starost
po-obcinah trajanje-brezposelnosti
po-statisticnah-regijah izobrazba
po-statisticnah-regijah spol
po-statisticnah-regijah starost
po-statisticnah-regijah trajanje-brezposelnosti
po-uradih-za-delo izobrazba
po-uradih-za-delo spol
po-uradih-za-delo starost
po-uradih-za-delo trajanje-brezposelnosti

In [2]:
print()                
for key in data.keys():
    print(key)
    print(data[key].keys())
    print()

po-obcinah
dict_keys(['izobrazba', 'spol', 'starost', 'trajanje-brezposelnosti'])

po-statisticnah-regijah
dict_keys(['izobrazba', 'spol', 'starost', 'trajanje-brezposelnosti'])

po-uradih-za-delo
dict_keys(['izobrazba', 'spol', 'starost', 'trajanje-brezposelnosti'])

In [3]:
data['po-obcinah']['izobrazba']['OŠ ali manj'] = \
    data['po-obcinah']['izobrazba']['OŠ ali manj']\
    .fillna(data['po-obcinah']['izobrazba']['OŠ\nali manj'])

data['po-obcinah']['izobrazba']['srednje poklicno izobraževanje'] = \
    data['po-obcinah']['izobrazba']['srednje poklicno izobraževanje']\
    .fillna(data['po-obcinah']['izobrazba']['nižje, srednje poklicno izob.'])
    
data['po-obcinah']['izobrazba']['strokovno, splošno izobraževanje'] = \
    data['po-obcinah']['izobrazba']['strokovno, splošno izobraževanje']\
    .fillna(data['po-obcinah']['izobrazba']['srednje tehniško, strokovno,\nsplošno izob.'])
    
data['po-obcinah']['izobrazba']['izobraževanje prve, druge, tretje stopnje'] = \
    data['po-obcinah']['izobrazba']['izobraževanje prve, druge, tretje stopnje']\
    .fillna(data['po-obcinah']['izobrazba']['visokošolsko\nizob. prve, druge,\ntretje stopnje'])

In [4]:
data['po-obcinah']['izobrazba'] = data['po-obcinah']['izobrazba'].drop('OŠ\nali manj', axis=1)
data['po-obcinah']['izobrazba'] = data['po-obcinah']['izobrazba'].drop('nižje, srednje poklicno izob.', axis=1)
data['po-obcinah']['izobrazba'] = data['po-obcinah']['izobrazba'].drop('srednje tehniško, strokovno,\nsplošno izob.', axis=1)
data['po-obcinah']['izobrazba'] = data['po-obcinah']['izobrazba'].drop('visokošolsko\nizob. prve, druge,\ntretje stopnje', axis=1)
data['po-obcinah']['izobrazba']["Občina"] = data['po-obcinah']['izobrazba']["Občina"].str.upper()
data['po-obcinah']['izobrazba']

,Občina,OŠ ali manj,srednje poklicno izobraževanje,"strokovno, splošno izobraževanje","izobraževanje prve, druge, tretje stopnje",Skupaj,month,year
0,AJDOVŠČINA,224.0,180.0,173.0,122.0,699.0,JAN,2018
1,ANKARAN,30.0,28.0,43.0,20.0,121.0,JAN,2018
2,APAČE,79.0,80.0,36.0,24.0,219.0,JAN,2018
3,BELTINCI,244.0,146.0,116.0,83.0,589.0,JAN,2018
4,BENEDIKT,24.0,36.0,20.0,7.0,87.0,JAN,2018
...,...,...,...,...,...,...,...,...
208,ŽETALE,7.0,4,5,4,20.0,FEB,2023
209,ŽIRI,10.0,12,16,20,58.0,FEB,2023
210,ŽIROVNICA,16.0,16,26,15,73.0,FEB,2023
211,ŽUŽEMBERK,26.0,23,10,12,71.0,FEB,2023
212,OBČINA IZVEN RS,824.0,38,26,79,967.0,FEB,2023

In [5]:
data['po-obcinah']['izobrazba'].to_csv('po-obcinah_izobrazba.csv', index=False, encoding='utf-8')

In [6]:
data['po-obcinah']['spol']['Moški'] = data['po-obcinah']['spol']['Moški']\
    .fillna(data['po-obcinah']['spol']['moški'])

data['po-obcinah']['spol']['Ženske'] = data['po-obcinah']['spol']['Ženske']\
    .fillna(data['po-obcinah']['spol']['ženske'])

In [7]:
data['po-obcinah']['spol'] = data['po-obcinah']['spol'].drop('moški', axis=1)
data['po-obcinah']['spol'] = data['po-obcinah']['spol'].drop('ženske', axis=1)

data['po-obcinah']['spol']

              Občina  Moški  Ženske  Skupaj month  year
0         AJDOVŠČINA  335.0   364.0   699.0   JAN  2018
1            ANKARAN   54.0    67.0   121.0   JAN  2018
2              APAČE  104.0   115.0   219.0   JAN  2018
3           BELTINCI  325.0   264.0   589.0   JAN  2018
4           BENEDIKT   50.0    37.0    87.0   JAN  2018
..               ...    ...     ...     ...   ...   ...
208           Žetale    5.0    15.0    20.0   FEB  2023
209             Žiri   30.0    28.0    58.0   FEB  2023
210        Žirovnica   39.0    34.0    73.0   FEB  2023
211        Žužemberk   43.0    28.0    71.0   FEB  2023
212  Občina izven RS  487.0   480.0   967.0   FEB  2023

[13278 rows x 6 columns]

In [8]:
data['po-obcinah']['starost']['15 do 24 let'] = data['po-obcinah']['starost']['15 do 24 let']\
    .fillna(data['po-obcinah']['starost']['15-24\nlet'])

data['po-obcinah']['starost']['25 do 29 let'] = data['po-obcinah']['starost']['25 do 29 let']\
    .fillna(data['po-obcinah']['starost']['25-29\nlet'])
    
data['po-obcinah']['starost']['30 do 39 let'] = data['po-obcinah']['starost']['30 do 39 let']\
    .fillna(data['po-obcinah']['starost']['30-39\nlet'])
    
data['po-obcinah']['starost']['40 do 49 let'] = data['po-obcinah']['starost']['40 do 49 let']\
    .fillna(data['po-obcinah']['starost']['40-49\nlet'])

data['po-obcinah']['starost']['50 do 54 let'] = data['po-obcinah']['starost']['50 do 54 let']\
    .fillna(data['po-obcinah']['starost']['50-54\nlet'])
    
data['po-obcinah']['starost']['55 let ali več'] = data['po-obcinah']['starost']['55 let ali več']\
    .fillna(data['po-obcinah']['starost']['55 let\nali več'])

In [9]:
data['po-obcinah']['starost'] = data['po-obcinah']['starost'].drop('15-24\nlet', axis=1)
data['po-obcinah']['starost'] = data['po-obcinah']['starost'].drop('25-29\nlet', axis=1)
data['po-obcinah']['starost'] = data['po-obcinah']['starost'].drop('30-39\nlet', axis=1)
data['po-obcinah']['starost'] = data['po-obcinah']['starost'].drop('40-49\nlet', axis=1)
data['po-obcinah']['starost'] = data['po-obcinah']['starost'].drop('50-54\nlet', axis=1)
data['po-obcinah']['starost'] = data['po-obcinah']['starost'].drop('55 let\nali več', axis=1)

data['po-obcinah']['starost']

,Občina,15 do 24 let,25 do 29 let,30 do 39 let,40 do 49 let,50 do 54 let,55 let ali več,Skupaj,month,year
0,AJDOVŠČINA,53.0,86.0,157.0,113.0,111.0,179.0,699.0,JAN,2018
1,ANKARAN,3.0,16.0,24.0,29.0,14.0,35.0,121.0,JAN,2018
2,APAČE,21.0,23.0,44.0,38.0,35.0,58.0,219.0,JAN,2018
3,BELTINCI,67.0,53.0,111.0,107.0,102.0,149.0,589.0,JAN,2018
4,BENEDIKT,11.0,9.0,19.0,15.0,7.0,26.0,87.0,JAN,2018
...,...,...,...,...,...,...,...,...,...,...
208,Žetale,-,1,8,5,2,4.0,20.0,FEB,2023
209,Žiri,3,6,11,12,2,24.0,58.0,FEB,2023
210,Žirovnica,2,10,13,16,4,28.0,73.0,FEB,2023
211,Žužemberk,4,4,4,13,12,34.0,71.0,FEB,2023
212,Občina izven RS,94,143,300,247,73,110.0,967.0,FEB,2023

In [10]:
data['po-obcinah']['trajanje-brezposelnosti']['Do 2 mesecev'] = \
    data['po-obcinah']['trajanje-brezposelnosti']['Do 2 mesecev']\
    .fillna(data['po-obcinah']['trajanje-brezposelnosti']['do 2\nmes.'])

data['po-obcinah']['trajanje-brezposelnosti']['3 do 5 mesecev'] = \
    data['po-obcinah']['trajanje-brezposelnosti']['3 do 5 mesecev']\
    .fillna(data['po-obcinah']['trajanje-brezposelnosti']['3-5\nmes.'])
    
data['po-obcinah']['trajanje-brezposelnosti']['6 do 8 mesecev'] = \
    data['po-obcinah']['trajanje-brezposelnosti']['6 do 8 mesecev']\
    .fillna(data['po-obcinah']['trajanje-brezposelnosti']['6-8\nmes.'])
    
data['po-obcinah']['trajanje-brezposelnosti']['9 do 11 mesecev'] = \
    data['po-obcinah']['trajanje-brezposelnosti']['9 do 11 mesecev']\
    .fillna(data['po-obcinah']['trajanje-brezposelnosti']['9-11\nmes.'])

data['po-obcinah']['trajanje-brezposelnosti']['12 do 23 mesecev'] = \
    data['po-obcinah']['trajanje-brezposelnosti']['12 do 23 mesecev']\
    .fillna(data['po-obcinah']['trajanje-brezposelnosti']['12 - 23 mes.'])
    
data['po-obcinah']['trajanje-brezposelnosti']['24 do 35 mesecev'] = \
    data['po-obcinah']['trajanje-brezposelnosti']['24 do 35 mesecev']\
    .fillna(data['po-obcinah']['trajanje-brezposelnosti']['24-35\nmes.'])

data['po-obcinah']['trajanje-brezposelnosti']['36 mesecev ali več'] = \
    data['po-obcinah']['trajanje-brezposelnosti']['36 mesecev ali več']\
    .fillna(data['po-obcinah']['trajanje-brezposelnosti']['36 mes.\nali več'])

In [11]:
data['po-obcinah']['trajanje-brezposelnosti'] = \
    data['po-obcinah']['trajanje-brezposelnosti'].drop('do 2\nmes.', axis=1)

data['po-obcinah']['trajanje-brezposelnosti'] = \
    data['po-obcinah']['trajanje-brezposelnosti'].drop('3-5\nmes.', axis=1)

data['po-obcinah']['trajanje-brezposelnosti'] = \
    data['po-obcinah']['trajanje-brezposelnosti'].drop('6-8\nmes.', axis=1)

data['po-obcinah']['trajanje-brezposelnosti'] = \
    data['po-obcinah']['trajanje-brezposelnosti'].drop('9-11\nmes.', axis=1)

data['po-obcinah']['trajanje-brezposelnosti'] = \
    data['po-obcinah']['trajanje-brezposelnosti'].drop('12 - 23 mes.', axis=1)

data['po-obcinah']['trajanje-brezposelnosti'] = \
    data['po-obcinah']['trajanje-brezposelnosti'].drop('24-35\nmes.', axis=1)

data['po-obcinah']['trajanje-brezposelnosti'] = \
    data['po-obcinah']['trajanje-brezposelnosti'].drop('36 mes.\nali več', axis=1)

data['po-obcinah']['trajanje-brezposelnosti']

,Občina,Do 2 mesecev,3 do 5 mesecev,6 do 8 mesecev,9 do 11 mesecev,12 do 23 mesecev,24 do 35 mesecev,36 mesecev ali več,Skupaj,month,year
0,AJDOVŠČINA,158.0,104.0,47.0,34.0,114.0,48.0,194.0,699.0,JAN,2018
1,ANKARAN,36.0,18.0,9.0,9.0,13.0,6.0,30.0,121.0,JAN,2018
2,APAČE,66.0,23.0,9.0,10.0,46.0,12.0,53.0,219.0,JAN,2018
3,BELTINCI,195.0,72.0,36.0,28.0,75.0,36.0,147.0,589.0,JAN,2018
4,BENEDIKT,39.0,14.0,5.0,4.0,16.0,3.0,6.0,87.0,JAN,2018
...,...,...,...,...,...,...,...,...,...,...,...
208,Žetale,9,1,2,2,1,1,4,20.0,FEB,2023
209,Žiri,12,10,2,4,21,5,4,58.0,FEB,2023
210,Žirovnica,24,13,12,4,12,3,5,73.0,FEB,2023
211,Žužemberk,14,11,6,3,11,8,18,71.0,FEB,2023
212,Občina izven RS,506,179,148,80,24,10,20,967.0,FEB,2023

In [12]:
data['po-statisticnah-regijah']['izobrazba']['Kohezijska / Statistična regija'] = \
    data['po-statisticnah-regijah']['izobrazba']['Kohezijska / Statistična regija']\
    .fillna(data['po-statisticnah-regijah']['izobrazba']['Kohezijska / \nstatistična regija'])

data['po-statisticnah-regijah']['izobrazba']['1+2              OŠ ali manj'] = \
    data['po-statisticnah-regijah']['izobrazba']['1+2              OŠ ali manj']\
    .fillna(data['po-statisticnah-regijah']['izobrazba']['OŠ\nali manj'])

data['po-statisticnah-regijah']['izobrazba']['3+4 - nižje, srednje poklicno izobr.'] = \
    data['po-statisticnah-regijah']['izobrazba']['3+4 - nižje, srednje poklicno izobr.']\
    .fillna(data['po-statisticnah-regijah']['izobrazba']['nižje, srednje poklicno izob.'])
    
data['po-statisticnah-regijah']['izobrazba']['5 - srednje tehniško, strokovno, splošno izobr.'] = \
    data['po-statisticnah-regijah']['izobrazba']['5 - srednje tehniško, strokovno, splošno izobr.']\
    .fillna(data['po-statisticnah-regijah']['izobrazba']['srednje tehniško, strokovno,\nsplošno izob.'])
    
data['po-statisticnah-regijah']['izobrazba']['6+7+8 - visokošolsko izobr. prve, druge, tretje stopnje'] = \
    data['po-statisticnah-regijah']['izobrazba']['6+7+8 - visokošolsko izobr. prve, druge, tretje stopnje']\
    .fillna(data['po-statisticnah-regijah']['izobrazba']['visokošolsko\nizob. prve, druge,\ntretje stopnje'])

In [13]:
data['po-statisticnah-regijah']['izobrazba'] = \
    data['po-statisticnah-regijah']['izobrazba'].drop('Kohezijska / \nstatistična regija', axis=1)

data['po-statisticnah-regijah']['izobrazba'] = \
    data['po-statisticnah-regijah']['izobrazba'].drop('OŠ\nali manj', axis=1)

data['po-statisticnah-regijah']['izobrazba'] = \
    data['po-statisticnah-regijah']['izobrazba'].drop('nižje, srednje poklicno izob.', axis=1)

data['po-statisticnah-regijah']['izobrazba'] = \
    data['po-statisticnah-regijah']['izobrazba'].drop('srednje tehniško, strokovno,\nsplošno izob.', axis=1)

data['po-statisticnah-regijah']['izobrazba'] = \
    data['po-statisticnah-regijah']['izobrazba'].drop('visokošolsko\nizob. prve, druge,\ntretje stopnje', axis=1)

data['po-statisticnah-regijah']['izobrazba']

,Kohezijska / Statistična regija,1+2 OŠ ali manj,"3+4 - nižje, srednje poklicno izobr.","5 - srednje tehniško, strokovno, splošno izobr.","6+7+8 - visokošolsko izobr. prve, druge, tretje stopnje",Skupaj,month,year
0,Slovenija,27666.0,23433.0,22082.0,14738.0,87919.0,JAN,2018
1,NaN,NaN,NaN,NaN,NaN,NaN,JAN,2018
2,Vzhodna Slovenija,16823.0,14864.0,12665.0,7820.0,52172.0,JAN,2018
3,Jugovzhodna Slovenija,2725.0,1545.0,1162.0,767.0,6199.0,JAN,2018
4,Koroška,653.0,876.0,687.0,439.0,2655.0,JAN,2018
...,...,...,...,...,...,...,...,...
14,Goriška,594.0,436.0,502.0,404.0,1936.0,FEB,2023
15,Obalno-kraška,896.0,702.0,865.0,527.0,2990.0,FEB,2023
16,Osrednjeslovenska,3829.0,2798.0,3593.0,2690.0,12910.0,FEB,2023
17,NaN,NaN,NaN,NaN,NaN,NaN,FEB,2023
18,Občina izven RS,824.0,38.0,26.0,79.0,967.0,FEB,2023

In [14]:
data['po-statisticnah-regijah']['spol']['Kohezijska / statistična regija'] = \
    data['po-statisticnah-regijah']['spol']['Kohezijska / statistična regija']\
    .fillna(data['po-statisticnah-regijah']['spol']['Kohezijska /\nstatistična regija'])

data['po-statisticnah-regijah']['spol']['Moški'] = \
    data['po-statisticnah-regijah']['spol']['Moški']\
    .fillna(data['po-statisticnah-regijah']['spol']['moški'])

data['po-statisticnah-regijah']['spol']['Ženske'] = \
    data['po-statisticnah-regijah']['spol']['Ženske']\
    .fillna(data['po-statisticnah-regijah']['spol']['ženske'])

In [15]:
data['po-statisticnah-regijah']['spol'] = \
    data['po-statisticnah-regijah']['spol'].drop('Kohezijska /\nstatistična regija', axis=1)

data['po-statisticnah-regijah']['spol'] = \
    data['po-statisticnah-regijah']['spol'].drop('moški', axis=1)

data['po-statisticnah-regijah']['spol'] = \
    data['po-statisticnah-regijah']['spol'].drop('ženske', axis=1)

data['po-statisticnah-regijah']['spol']

   Kohezijska / statistična regija    Moški   Ženske   Skupaj month  year
0                        Slovenija  44807.0  43112.0  87919.0   JAN  2018
1                              NaN      NaN      NaN      NaN   JAN  2018
2                Vzhodna Slovenija  25840.0  26332.0  52172.0   JAN  2018
3            Jugovzhodna Slovenija   3104.0   3095.0   6199.0   JAN  2018
4                          Koroška   1246.0   1409.0   2655.0   JAN  2018
..                             ...      ...      ...      ...   ...   ...
14                         Goriška    979.0    957.0   1936.0   FEB  2023
15                   Obalno-kraška   1468.0   1522.0   2990.0   FEB  2023
16               Osrednjeslovenska   6863.0   6047.0  12910.0   FEB  2023
17                             NaN      NaN      NaN      NaN   FEB  2023
18                 Občina izven RS    487.0    480.0    967.0   FEB  2023

[1178 rows x 6 columns]

In [16]:
data['po-statisticnah-regijah']['starost']

,Kohezijska / \nstatistična regija,15-24\nlet,25-29\nlet,30-39\nlet,40-49\nlet,50-54\nlet,55 let \nali več,Skupaj,month,year
0,Slovenija,6038.0,6667.0,14342.0,14486.0,6998.0,19303.0,67834.0,JAN,2022
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,JAN,2022
2,Vzhodna Slovenija,4036.0,3813.0,7925.0,8051.0,4182.0,11330.0,39337.0,JAN,2022
3,Jugovzhodna Slovenija,601.0,464.0,1055.0,922.0,414.0,1262.0,4718.0,JAN,2022
4,Koroška,239.0,225.0,388.0,467.0,273.0,646.0,2238.0,JAN,2022
...,...,...,...,...,...,...,...,...,...,...
14,Goriška,148.0,178.0,382.0,448.0,174.0,606.0,1936.0,FEB,2023
15,Obalno-kraška,212.0,266.0,642.0,765.0,303.0,802.0,2990.0,FEB,2023
16,Osrednjeslovenska,838.0,1253.0,2927.0,2983.0,1276.0,3633.0,12910.0,FEB,2023
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,FEB,2023
18,Občina izven RS,94.0,143.0,300.0,247.0,73.0,110.0,967.0,FEB,2023

In [17]:
data['po-statisticnah-regijah']['trajanje-brezposelnosti']['Kohezijska / statistična regija'] = \
    data['po-statisticnah-regijah']['trajanje-brezposelnosti']['Kohezijska / statistična regija']\
    .fillna(data['po-statisticnah-regijah']['trajanje-brezposelnosti']['Kohezijska /\nstatistična regija'])

data['po-statisticnah-regijah']['trajanje-brezposelnosti']['Do 2 meseca'] = \
    data['po-statisticnah-regijah']['trajanje-brezposelnosti']['Do 2 meseca']\
    .fillna(data['po-statisticnah-regijah']['trajanje-brezposelnosti']['do 2\nmes.'])

data['po-statisticnah-regijah']['trajanje-brezposelnosti']['3 do 5 mesecev'] = \
    data['po-statisticnah-regijah']['trajanje-brezposelnosti']['3 do 5 mesecev']\
    .fillna(data['po-statisticnah-regijah']['trajanje-brezposelnosti']['3-5\nmes.'])

data['po-statisticnah-regijah']['trajanje-brezposelnosti']['6 do 8 mesecev'] = \
    data['po-statisticnah-regijah']['trajanje-brezposelnosti']['6 do 8 mesecev']\
    .fillna(data['po-statisticnah-regijah']['trajanje-brezposelnosti']['6-8\nmes.'])

data['po-statisticnah-regijah']['trajanje-brezposelnosti']['9 do 11 mesecev'] = \
    data['po-statisticnah-regijah']['trajanje-brezposelnosti']['9 do 11 mesecev']\
    .fillna(data['po-statisticnah-regijah']['trajanje-brezposelnosti']['9-11\nmes.'])

data['po-statisticnah-regijah']['trajanje-brezposelnosti']['12 do 23\n mesecev'] = \
    data['po-statisticnah-regijah']['trajanje-brezposelnosti']['12 do 23\n mesecev']\
    .fillna(data['po-statisticnah-regijah']['trajanje-brezposelnosti']['12-23\nmes.'])

data['po-statisticnah-regijah']['trajanje-brezposelnosti']['24 do 35\n mesecev'] = \
    data['po-statisticnah-regijah']['trajanje-brezposelnosti']['24 do 35\n mesecev']\
    .fillna(data['po-statisticnah-regijah']['trajanje-brezposelnosti']['24-35\nmes.'])

data['po-statisticnah-regijah']['trajanje-brezposelnosti']['36 mesecev ali več'] = \
    data['po-statisticnah-regijah']['trajanje-brezposelnosti']['36 mesecev ali več']\
    .fillna(data['po-statisticnah-regijah']['trajanje-brezposelnosti']['36 mes.\nali več'])

In [18]:
data['po-statisticnah-regijah']['trajanje-brezposelnosti'] = \
    data['po-statisticnah-regijah']['trajanje-brezposelnosti'].drop('Kohezijska /\nstatistična regija', axis=1)

data['po-statisticnah-regijah']['trajanje-brezposelnosti'] = \
    data['po-statisticnah-regijah']['trajanje-brezposelnosti'].drop('do 2\nmes.', axis=1)

data['po-statisticnah-regijah']['trajanje-brezposelnosti'] = \
    data['po-statisticnah-regijah']['trajanje-brezposelnosti'].drop('3-5\nmes.', axis=1)

data['po-statisticnah-regijah']['trajanje-brezposelnosti'] = \
    data['po-statisticnah-regijah']['trajanje-brezposelnosti'].drop('6-8\nmes.', axis=1)

data['po-statisticnah-regijah']['trajanje-brezposelnosti'] = \
    data['po-statisticnah-regijah']['trajanje-brezposelnosti'].drop('9-11\nmes.', axis=1)

data['po-statisticnah-regijah']['trajanje-brezposelnosti'] = \
    data['po-statisticnah-regijah']['trajanje-brezposelnosti'].drop('12-23\nmes.', axis=1)

data['po-statisticnah-regijah']['trajanje-brezposelnosti'] = \
    data['po-statisticnah-regijah']['trajanje-brezposelnosti'].drop('24-35\nmes.', axis=1)

data['po-statisticnah-regijah']['trajanje-brezposelnosti'] = \
    data['po-statisticnah-regijah']['trajanje-brezposelnosti'].drop('36 mes.\nali več', axis=1)

In [19]:
data['po-statisticnah-regijah']['trajanje-brezposelnosti']

,Kohezijska / statistična regija,Do 2 meseca,3 do 5 mesecev,6 do 8 mesecev,9 do 11 mesecev,12 do 23\n mesecev,24 do 35\n mesecev,36 mesecev ali več,Skupaj,month,year
0,Slovenija,21974.0,11742.0,6073.0,4469.0,14511.0,6810.0,22340.0,87919.0,JAN,2018
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,JAN,2018
2,Vzhodna Slovenija,13167.0,6813.0,3440.0,2571.0,8565.0,4157.0,13459.0,52172.0,JAN,2018
3,Jugovzhodna Slovenija,1265.0,718.0,413.0,252.0,878.0,506.0,2167.0,6199.0,JAN,2018
4,Koroška,753.0,408.0,156.0,109.0,416.0,200.0,613.0,2655.0,JAN,2018
...,...,...,...,...,...,...,...,...,...,...,...
14,Goriška,497.0,317.0,163.0,118.0,260.0,140.0,441.0,1936.0,FEB,2023
15,Obalno-kraška,841.0,574.0,235.0,189.0,381.0,222.0,548.0,2990.0,FEB,2023
16,Osrednjeslovenska,2625.0,1883.0,954.0,777.0,1744.0,1230.0,3697.0,12910.0,FEB,2023
17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,FEB,2023
18,Občina izven RS,506.0,179.0,148.0,80.0,24.0,10.0,20.0,967.0,FEB,2023

In [20]:
data['po-uradih-za-delo']['izobrazba']['1+2 - OŠ ali manj'] = \
    data['po-uradih-za-delo']['izobrazba']['1+2 - OŠ ali manj']\
    .fillna(data['po-uradih-za-delo']['izobrazba']['OŠ\nali manj'])

data['po-uradih-za-delo']['izobrazba']['3+4 - nižje, srednje poklicno izobr.'] = \
    data['po-uradih-za-delo']['izobrazba']['3+4 - nižje, srednje poklicno izobr.']\
    .fillna(data['po-uradih-za-delo']['izobrazba']['nižje, srednje poklicno izob.'])

data['po-uradih-za-delo']['izobrazba']['5 - srednje tehniško, strokovno, splošno izobr.'] = \
    data['po-uradih-za-delo']['izobrazba']['5 - srednje tehniško, strokovno, splošno izobr.']\
    .fillna(data['po-uradih-za-delo']['izobrazba']['srednje tehniško, strokovno,\nsplošno izob.'])

data['po-uradih-za-delo']['izobrazba']['6+7+8 - visokošolsko izobr. prve, druge, tretje stopnje'] = \
    data['po-uradih-za-delo']['izobrazba']['6+7+8 - visokošolsko izobr. prve, druge, tretje stopnje']\
    .fillna(data['po-uradih-za-delo']['izobrazba']['visokošolsko\nizob. prve, druge,\ntretje stopnje'])

In [21]:
data['po-uradih-za-delo']['izobrazba'] = \
    data['po-uradih-za-delo']['izobrazba'].drop('OŠ\nali manj', axis=1)

data['po-uradih-za-delo']['izobrazba'] = \
    data['po-uradih-za-delo']['izobrazba'].drop('nižje, srednje poklicno izob.', axis=1)

data['po-uradih-za-delo']['izobrazba'] = \
    data['po-uradih-za-delo']['izobrazba'].drop('srednje tehniško, strokovno,\nsplošno izob.', axis=1)

data['po-uradih-za-delo']['izobrazba'] = \
    data['po-uradih-za-delo']['izobrazba'].drop('visokošolsko\nizob. prve, druge,\ntretje stopnje', axis=1)

In [22]:
data['po-uradih-za-delo']['izobrazba']

,Urad za delo,1+2 - OŠ ali manj,"3+4 - nižje, srednje poklicno izobr.","5 - srednje tehniško, strokovno, splošno izobr.","6+7+8 - visokošolsko izobr. prve, druge, tretje stopnje",Skupaj,month,year
0,OS Celje,2906.0,2745.0,2378.0,1449.0,9478.0,JAN,2018
1,UD Celje,934.0,907.0,864.0,596.0,3301.0,JAN,2018
2,UD Laško,196.0,210.0,208.0,89.0,703.0,JAN,2018
3,UD Slovenske Konjice,433.0,423.0,280.0,179.0,1315.0,JAN,2018
4,UD Šentjur,237.0,265.0,223.0,122.0,847.0,JAN,2018
...,...,...,...,...,...,...,...,...
65,UD Mozirje,108.0,103.0,107.0,65.0,383.0,DEC,izob
66,UD Radlje ob Dravi,122.0,197.0,149.0,53.0,521.0,DEC,izob
67,UD Ravne na Koroškem,167.0,226.0,205.0,96.0,694.0,DEC,izob
68,UD Slovenj Gradec,188.0,227.0,142.0,87.0,644.0,DEC,izob
69,UD Velenje,533.0,389.0,382.0,246.0,1550.0,DEC,izob

In [23]:
data['po-uradih-za-delo']['spol']['Moški'] = \
    data['po-uradih-za-delo']['spol']['Moški']\
    .fillna(data['po-uradih-za-delo']['spol']['moški'])

data['po-uradih-za-delo']['spol']['Ženske'] = \
    data['po-uradih-za-delo']['spol']['Ženske']\
    .fillna(data['po-uradih-za-delo']['spol']['ženske'])

In [24]:
data['po-uradih-za-delo']['spol'] = \
    data['po-uradih-za-delo']['spol'].drop('moški', axis=1)

data['po-uradih-za-delo']['spol'] = \
    data['po-uradih-za-delo']['spol'].drop('ženske', axis=1)

In [25]:
data['po-uradih-za-delo']['spol']

            Urad za delo   Moški  Ženske  Skupaj month  year
0               OS Celje  4717.0  4761.0  9478.0   JAN  2018
1               UD Celje  1634.0  1667.0  3301.0   JAN  2018
2               UD Laško   363.0   340.0   703.0   JAN  2018
3   UD Slovenske Konjice   649.0   666.0  1315.0   JAN  2018
4             UD Šentjur   426.0   421.0   847.0   JAN  2018
..                   ...     ...     ...     ...   ...   ...
65            UD Mozirje   219.0   215.0   434.0   FEB  2023
66    UD Radlje ob Dravi   181.0   237.0   418.0   FEB  2023
67  UD Ravne na Koroškem   265.0   284.0   549.0   FEB  2023
68     UD Slovenj Gradec   246.0   284.0   530.0   FEB  2023
69            UD Velenje   595.0   774.0  1369.0   FEB  2023

[4412 rows x 6 columns]

In [26]:
data['po-uradih-za-delo']['starost']['15 do 24 let'] = \
    data['po-uradih-za-delo']['starost']['15 do 24 let']\
    .fillna(data['po-uradih-za-delo']['starost']['15-24\nlet'])

data['po-uradih-za-delo']['starost']['25 do 29 let'] = \
    data['po-uradih-za-delo']['starost']['25 do 29 let']\
    .fillna(data['po-uradih-za-delo']['starost']['25-29\nlet'])

data['po-uradih-za-delo']['starost']['30 do 39 let'] = \
    data['po-uradih-za-delo']['starost']['30 do 39 let']\
    .fillna(data['po-uradih-za-delo']['starost']['30-39\nlet'])

data['po-uradih-za-delo']['starost']['40 do 49 let'] = \
    data['po-uradih-za-delo']['starost']['40 do 49 let']\
    .fillna(data['po-uradih-za-delo']['starost']['40-49\nlet'])

data['po-uradih-za-delo']['starost']['50 do 54 let'] = \
    data['po-uradih-za-delo']['starost']['50 do 54 let']\
    .fillna(data['po-uradih-za-delo']['starost']['50-54\nlet'])

data['po-uradih-za-delo']['starost']['55 ali več'] = \
    data['po-uradih-za-delo']['starost']['55 ali več']\
    .fillna(data['po-uradih-za-delo']['starost']['55 let\nali več'])

In [27]:
data['po-uradih-za-delo']['starost'] = \
    data['po-uradih-za-delo']['starost'].drop('15-24\nlet', axis=1)

data['po-uradih-za-delo']['starost'] = \
    data['po-uradih-za-delo']['starost'].drop('25-29\nlet', axis=1)

data['po-uradih-za-delo']['starost'] = \
    data['po-uradih-za-delo']['starost'].drop('30-39\nlet', axis=1)

data['po-uradih-za-delo']['starost'] = \
    data['po-uradih-za-delo']['starost'].drop('40-49\nlet', axis=1)

data['po-uradih-za-delo']['starost'] = \
    data['po-uradih-za-delo']['starost'].drop('50-54\nlet', axis=1)

data['po-uradih-za-delo']['starost'] = \
    data['po-uradih-za-delo']['starost'].drop('55 let\nali več', axis=1)

In [28]:
data['po-uradih-za-delo']['starost']

,Urad za delo,15 do 24 let,25 do 29 let,30 do 39 let,40 do 49 let,50 do 54 let,55 ali več,Skupaj,month,year
0,OS Celje,696.0,1068.0,2007.0,1916.0,1295.0,2496.0,9478.0,JAN,2018
1,UD Celje,213.0,360.0,770.0,683.0,421.0,854.0,3301.0,JAN,2018
2,UD Laško,49.0,84.0,156.0,135.0,89.0,190.0,703.0,JAN,2018
3,UD Slovenske Konjice,112.0,170.0,241.0,249.0,161.0,382.0,1315.0,JAN,2018
4,UD Šentjur,69.0,98.0,180.0,170.0,118.0,212.0,847.0,JAN,2018
...,...,...,...,...,...,...,...,...,...,...
65,UD Mozirje,49.0,50.0,96.0,81.0,32.0,126.0,434.0,FEB,2023
66,UD Radlje ob Dravi,38.0,26.0,78.0,91.0,59.0,126.0,418.0,FEB,2023
67,UD Ravne na Koroškem,63.0,59.0,102.0,94.0,53.0,178.0,549.0,FEB,2023
68,UD Slovenj Gradec,51.0,53.0,76.0,102.0,54.0,194.0,530.0,FEB,2023
69,UD Velenje,124.0,124.0,251.0,244.0,113.0,513.0,1369.0,FEB,2023

In [29]:
data['po-uradih-za-delo']['trajanje-brezposelnosti']['Do 2 mesecev'] = \
    data['po-uradih-za-delo']['trajanje-brezposelnosti']['Do 2 mesecev']\
    .fillna(data['po-uradih-za-delo']['trajanje-brezposelnosti']['do 2 \nmes.'])

data['po-uradih-za-delo']['trajanje-brezposelnosti']['3 do 5 mesecev'] = \
    data['po-uradih-za-delo']['trajanje-brezposelnosti']['3 do 5 mesecev']\
    .fillna(data['po-uradih-za-delo']['trajanje-brezposelnosti']['3 5 \nmes.'])

data['po-uradih-za-delo']['trajanje-brezposelnosti']['6 do 8 mesecev'] = \
    data['po-uradih-za-delo']['trajanje-brezposelnosti']['6 do 8 mesecev']\
    .fillna(data['po-uradih-za-delo']['trajanje-brezposelnosti']['6-8\nmes.'])

data['po-uradih-za-delo']['trajanje-brezposelnosti']['9 do 11 mesecev'] = \
    data['po-uradih-za-delo']['trajanje-brezposelnosti']['9 do 11 mesecev']\
    .fillna(data['po-uradih-za-delo']['trajanje-brezposelnosti']['9-11 \nmes.'])

data['po-uradih-za-delo']['trajanje-brezposelnosti']['12 do 23 mesecev'] = \
    data['po-uradih-za-delo']['trajanje-brezposelnosti']['12 do 23 mesecev']\
    .fillna(data['po-uradih-za-delo']['trajanje-brezposelnosti']['12-23 mes.'])

data['po-uradih-za-delo']['trajanje-brezposelnosti']['24 do 35 mesecev'] = \
    data['po-uradih-za-delo']['trajanje-brezposelnosti']['24 do 35 mesecev']\
    .fillna(data['po-uradih-za-delo']['trajanje-brezposelnosti']['24-35 mes.'])

data['po-uradih-za-delo']['trajanje-brezposelnosti']['36 mesecev ali več'] = \
    data['po-uradih-za-delo']['trajanje-brezposelnosti']['36 mesecev ali več']\
    .fillna(data['po-uradih-za-delo']['trajanje-brezposelnosti']['36 mes. \nali več'])

In [30]:
data['po-uradih-za-delo']['trajanje-brezposelnosti'] = \
    data['po-uradih-za-delo']['trajanje-brezposelnosti'].drop('do 2 \nmes.', axis=1)

data['po-uradih-za-delo']['trajanje-brezposelnosti'] = \
    data['po-uradih-za-delo']['trajanje-brezposelnosti'].drop('3 5 \nmes.', axis=1)

data['po-uradih-za-delo']['trajanje-brezposelnosti'] = \
    data['po-uradih-za-delo']['trajanje-brezposelnosti'].drop('6-8\nmes.', axis=1)

data['po-uradih-za-delo']['trajanje-brezposelnosti'] = \
    data['po-uradih-za-delo']['trajanje-brezposelnosti'].drop('9-11 \nmes.', axis=1)

data['po-uradih-za-delo']['trajanje-brezposelnosti'] = \
    data['po-uradih-za-delo']['trajanje-brezposelnosti'].drop('12-23 mes.', axis=1)

data['po-uradih-za-delo']['trajanje-brezposelnosti'] = \
    data['po-uradih-za-delo']['trajanje-brezposelnosti'].drop('24-35 mes.', axis=1)

data['po-uradih-za-delo']['trajanje-brezposelnosti'] = \
    data['po-uradih-za-delo']['trajanje-brezposelnosti'].drop('36 mes. \nali več', axis=1)

In [31]:
data['po-uradih-za-delo']['trajanje-brezposelnosti']

,Urad za delo,Do 2 mesecev,3 do 5 mesecev,6 do 8 mesecev,9 do 11 mesecev,12 do 23 mesecev,24 do 35 mesecev,36 mesecev ali več,Skupaj,month,year
0,OS Celje,2297.0,1208.0,591.0,479.0,1612.0,749.0,2542.0,9478.0,JAN,2018
1,UD Celje,939.0,427.0,214.0,146.0,583.0,232.0,760.0,3301.0,JAN,2018
2,UD Laško,126.0,94.0,43.0,50.0,124.0,79.0,187.0,703.0,JAN,2018
3,UD Slovenske Konjice,294.0,154.0,60.0,71.0,260.0,122.0,354.0,1315.0,JAN,2018
4,UD Šentjur,199.0,107.0,48.0,57.0,111.0,59.0,266.0,847.0,JAN,2018
...,...,...,...,...,...,...,...,...,...,...,...
65,UD Mozirje,105.0,109.0,37.0,29.0,77.0,17.0,60.0,434.0,FEB,2023
66,UD Radlje ob Dravi,106.0,60.0,23.0,24.0,48.0,36.0,121.0,418.0,FEB,2023
67,UD Ravne na Koroškem,175.0,98.0,44.0,22.0,79.0,28.0,103.0,549.0,FEB,2023
68,UD Slovenj Gradec,150.0,93.0,32.0,34.0,99.0,19.0,103.0,530.0,FEB,2023
69,UD Velenje,367.0,215.0,111.0,64.0,294.0,122.0,196.0,1369.0,FEB,2023

In [32]:
data['po-obcinah']['spol'].to_csv('po-obcinah_spol.csv', index=False, encoding='utf-8')

data['po-obcinah']['starost'].to_csv('po-obcinah_starost.csv', index=False, encoding='utf-8')

data['po-obcinah']['trajanje-brezposelnosti']\
    .to_csv('po-obcinah_trajanje-brezposelnosti.csv', index=False, encoding='utf-8')

data['po-statisticnah-regijah']['izobrazba']\
    .to_csv('po-statisticnah-regijah_izobrazba.csv', index=False, encoding='utf-8')

data['po-statisticnah-regijah']['spol']\
    .to_csv('po-statisticnah-regijah_spol.csv', index=False, encoding='utf-8')

data['po-statisticnah-regijah']['starost']\
    .to_csv('po-statisticnah-regijah_starost.csv', index=False, encoding='utf-8')

data['po-statisticnah-regijah']['trajanje-brezposelnosti']\
    .to_csv('po-statisticnah-regijah_trajanje-brezposelnosti.csv', index=False, encoding='utf-8')

data['po-uradih-za-delo']['izobrazba']\
    .to_csv('po-uradih-za-delo_izobrazba.csv', index=False, encoding='utf-8')

data['po-uradih-za-delo']['spol']\
    .to_csv('po-uradih-za-delo_spol.csv', index=False, encoding='utf-8')

data['po-uradih-za-delo']['starost']\
    .to_csv('po-uradih-za-delo_starost.csv', index=False, encoding='utf-8')

data['po-uradih-za-delo']['trajanje-brezposelnosti']\
    .to_csv('po-uradih-za-delo_trajanje-brezposelnosti.csv', index=False, encoding='utf-8')