# Priprava podatkov

### Oblika podatkov

Poglejmo s kaksno obliko podatkov rokujemo.

In [26]:
import pandas as pd
import os

# Set the directory containing the CSV files
directory = "structured_data/"

# Initialize an empty dictionary to store the DataFrames
data_dict = {}

# Loop through all CSV files in the directory
for filename in os.listdir(directory):
    if filename.endswith(".csv"):
        # Get the filename without the extension
        name = os.path.splitext(filename)[0]
        filepath = os.path.join(directory, filename)
        # Read the CSV file into a Pandas DataFrame
        df = pd.read_csv(filepath)
        # Append the DataFrame to the dictionary using the filename as the key
        data_dict[name] = df
        
d = None

# Print the dictionary to verify the contents
for key, dataFrame in data_dict.items():
    print(f"Table: {key}, St. vrstic: {len(dataFrame)}")
    display(dataFrame.head(1))

Table: delovno_prebivalstvo, St. vrstic: 57510

      num     OB�INE  LETO  DOSE�ENA IZOBRAZBA           SPOL
0  813529  SLOVENIJA  2005  Izobrazba - SKUPAJ  Spol - SKUPAJ

Table: po-obcinah_izobrazba, St. vrstic: 13278

,Občina,OŠ ali manj,srednje poklicno izobraževanje,"strokovno, splošno izobraževanje","izobraževanje prve, druge, tretje stopnje",Skupaj,month,year
0,AJDOVŠČINA,224.0,180.0,173.0,122.0,699.0,JAN,2018

Table: po-obcinah_spol, St. vrstic: 13278

       Občina  Moški  Ženske  Skupaj month  year
0  AJDOVŠČINA  335.0   364.0   699.0   JAN  2018

Table: po-obcinah_starost, St. vrstic: 13278

,Občina,15 do 24 let,25 do 29 let,30 do 39 let,40 do 49 let,50 do 54 let,55 let ali več,Skupaj,month,year
0,AJDOVŠČINA,53.0,86.0,157.0,113.0,111.0,179.0,699.0,JAN,2018

Table: po-obcinah_trajanje-brezposelnosti, St. vrstic: 10698

,Občina,Do 2 mesecev,3 do 5 mesecev,6 do 8 mesecev,9 do 11 mesecev,12 do 23 mesecev,24 do 35 mesecev,36 mesecev ali več,Skupaj,month,year
0,AJDOVŠČINA,158.0,104.0,47.0,34.0,114.0,48.0,194.0,699.0,JAN,2018

Table: po-statisticnah-regijah_izobrazba, St. vrstic: 950

,Kohezijska / Statistična regija,1+2 OŠ ali manj,"3+4 - nižje, srednje poklicno izobr.","5 - srednje tehniško, strokovno, splošno izobr.","6+7+8 - visokošolsko izobr. prve, druge, tretje stopnje",Skupaj,month,year
0,Slovenija,27666.0,23433.0,22082.0,14738.0,87919.0,JAN,2018

Table: po-statisticnah-regijah_spol, St. vrstic: 1178

  Kohezijska / statistična regija    Moški   Ženske   Skupaj month  year
0                       Slovenija  44807.0  43112.0  87919.0   JAN  2018

Table: po-statisticnah-regijah_starost, St. vrstic: 266

,Kohezijska / \nstatistična regija,15-24\nlet,25-29\nlet,30-39\nlet,40-49\nlet,50-54\nlet,55 let \nali več,Skupaj,month,year
0,Slovenija,6038.0,6667.0,14342.0,14486.0,6998.0,19303.0,67834.0,JAN,2022

Table: po-statisticnah-regijah_trajanje-brezposelnosti, St. vrstic: 1178

,Kohezijska / statistična regija,Do 2 meseca,3 do 5 mesecev,6 do 8 mesecev,9 do 11 mesecev,12 do 23\n mesecev,24 do 35\n mesecev,36 mesecev ali več,Skupaj,month,year
0,Slovenija,21974.0,11742.0,6073.0,4469.0,14511.0,6810.0,22340.0,87919.0,JAN,2018

Table: po-uradih-za-delo_izobrazba, St. vrstic: 4412

,Urad za delo,1+2 - OŠ ali manj,"3+4 - nižje, srednje poklicno izobr.","5 - srednje tehniško, strokovno, splošno izobr.","6+7+8 - visokošolsko izobr. prve, druge, tretje stopnje",Skupaj,month,year
0,OS Celje,2906.0,2745.0,2378.0,1449.0,9478.0,JAN,2018

Table: po-uradih-za-delo_spol, St. vrstic: 4412

  Urad za delo   Moški  Ženske  Skupaj month  year
0     OS Celje  4717.0  4761.0  9478.0   JAN  2018

Table: po-uradih-za-delo_starost, St. vrstic: 4412

,Urad za delo,15 do 24 let,25 do 29 let,30 do 39 let,40 do 49 let,50 do 54 let,55 ali več,Skupaj,month,year
0,OS Celje,696.0,1068.0,2007.0,1916.0,1295.0,2496.0,9478.0,JAN,2018

Table: po-uradih-za-delo_trajanje-brezposelnosti, St. vrstic: 4412

,Urad za delo,Do 2 mesecev,3 do 5 mesecev,6 do 8 mesecev,9 do 11 mesecev,12 do 23 mesecev,24 do 35 mesecev,36 mesecev ali več,Skupaj,month,year
0,OS Celje,2297.0,1208.0,591.0,479.0,1612.0,749.0,2542.0,9478.0,JAN,2018

### Normaliziramo imena stolpcev

In [28]:
# make a function that will take all the column names ["OBČINE", "Občina", "OB�INE", "Kohezijska / Statistična regija", "Kohezijska / statistična regija", "Kohezijska / \nstatistična regija", "Urad za delo"]
# and turn those into a new column name "regija"

REGIJA = {"občine", "občina", "ob�ine", "urad za delo"}

LETO = {"leto", "year"}

def normaliziraj_imena_stolpcev(df):
    # find all the columns that have the names in REGIJA and create a new column "regija"
    for imeStolpca in df.columns:
        imeStolpcaLower = imeStolpca.lower().strip()
        if imeStolpca in REGIJA:
            df["__region"] = df[imeStolpca]
            break
        
        if imeStolpcaLower in LETO:
            df["__year"] = df[imeStolpca]
            
for key, dataFrame in data_dict.items():
    print(f"PREJ: {key}, column names: {dataFrame.columns}")
    normaliziraj_imena_stolpcev(dataFrame)
    print(f"NORM: {key}, column names: {dataFrame.columns}")

PREJ: delovno_prebivalstvo, column names: Index(['num', 'OB�INE', 'LETO', 'DOSE�ENA IZOBRAZBA', 'SPOL', '__year'], dtype='object')
NORM: delovno_prebivalstvo, column names: Index(['num', 'OB�INE', 'LETO', 'DOSE�ENA IZOBRAZBA', 'SPOL', '__year'], dtype='object')
PREJ: po-obcinah_izobrazba, column names: Index(['Občina', 'OŠ ali manj', 'srednje poklicno izobraževanje',
       'strokovno, splošno izobraževanje',
       'izobraževanje prve, druge, tretje stopnje', 'Skupaj', 'month', 'year',
       '__year'],
      dtype='object')
NORM: po-obcinah_izobrazba, column names: Index(['Občina', 'OŠ ali manj', 'srednje poklicno izobraževanje',
       'strokovno, splošno izobraževanje',
       'izobraževanje prve, druge, tretje stopnje', 'Skupaj', 'month', 'year',
       '__year'],
      dtype='object')
PREJ: po-obcinah_spol, column names: Index(['Občina', 'Moški', 'Ženske', 'Skupaj', 'month', 'year', '__year'], dtype='object')
NORM: po-obcinah_spol, column names: Index(['Občina', 'Moški', 'Ženske', 'Skupaj', 'month', 'year', '__year'], dtype='object')
PREJ: po-obcinah_starost, column names: Index(['Občina', '15 do 24 let', '25 do 29 let', '30 do 39 let',
       '40 do 49 let', '50 do 54 let', '55 let ali več', 'Skupaj', 'month',
       'year', '__year'],
      dtype='object')
NORM: po-obcinah_starost, column names: Index(['Občina', '15 do 24 let', '25 do 29 let', '30 do 39 let',
       '40 do 49 let', '50 do 54 let', '55 let ali več', 'Skupaj', 'month',
       'year', '__year'],
      dtype='object')
PREJ: po-obcinah_trajanje-brezposelnosti, column names: Index(['Občina', 'Do 2 mesecev', '3 do 5 mesecev', '6 do 8 mesecev',
       '9 do 11 mesecev', '12 do 23 mesecev', '24 do 35 mesecev',
       '36 mesecev ali več', 'Skupaj', 'month', 'year', '__year'],
      dtype='object')
NORM: po-obcinah_trajanje-brezposelnosti, column names: Index(['Občina', 'Do 2 mesecev', '3 do 5 mesecev', '6 do 8 mesecev',
       '9 do 11 mesecev', '12 do 23 mesecev', '24 do 35 mesecev',
       '36 mesecev ali več', 'Skupaj', 'month', 'year', '__year'],
      dtype='object')
PREJ: po-statisticnah-regijah_izobrazba, column names: Index(['Kohezijska / Statistična regija', '1+2              OŠ ali manj',
       '3+4 - nižje, srednje poklicno izobr.',
       '5 - srednje tehniško, strokovno, splošno izobr.',
       '6+7+8 - visokošolsko izobr. prve, druge, tretje stopnje', 'Skupaj',
       'month', 'year', '__year'],
      dtype='object')
NORM: po-statisticnah-regijah_izobrazba, column names: Index(['Kohezijska / Statistična regija', '1+2              OŠ ali manj',
       '3+4 - nižje, srednje poklicno izobr.',
       '5 - srednje tehniško, strokovno, splošno izobr.',
       '6+7+8 - visokošolsko izobr. prve, druge, tretje stopnje', 'Skupaj',
       'month', 'year', '__year'],
      dtype='object')
PREJ: po-statisticnah-regijah_spol, column names: Index(['Kohezijska / statistična regija', 'Moški', 'Ženske', 'Skupaj', 'month',
       'year', '__year'],
      dtype='object')
NORM: po-statisticnah-regijah_spol, column names: Index(['Kohezijska / statistična regija', 'Moški', 'Ženske', 'Skupaj', 'month',
       'year', '__year'],
      dtype='object')
PREJ: po-statisticnah-regijah_starost, column names: Index(['Kohezijska / \nstatistična regija', '15-24\nlet', '25-29\nlet',
       '30-39\nlet', '40-49\nlet', '50-54\nlet', '55 let \nali več', 'Skupaj',
       'month', 'year', '__year'],
      dtype='object')
NORM: po-statisticnah-regijah_starost, column names: Index(['Kohezijska / \nstatistična regija', '15-24\nlet', '25-29\nlet',
       '30-39\nlet', '40-49\nlet', '50-54\nlet', '55 let \nali več', 'Skupaj',
       'month', 'year', '__year'],
      dtype='object')
PREJ: po-statisticnah-regijah_trajanje-brezposelnosti, column names: Index(['Kohezijska / statistična regija', 'Do 2 meseca', '3 do 5 mesecev',
       '6 do 8 mesecev', '9 do 11 mesecev', '12 do 23\n mesecev',
       '24 do 35\n mesecev', '36 mesecev ali več', 'Skupaj', 'month', 'year',
       '__year'],
      dtype='object')
NORM: po-statisticnah-regijah_trajanje-brezposelnosti, column names: Index(['Kohezijska / statistična regija', 'Do 2 meseca', '3 do 5 mesecev',
       '6 do 8 mesecev', '9 do 11 mesecev', '12 do 23\n mesecev',
       '24 do 35\n mesecev', '36 mesecev ali več', 'Skupaj', 'month', 'year',
       '__year'],
      dtype='object')
PREJ: po-uradih-za-delo_izobrazba, column names: Index(['Urad za delo', '1+2 - OŠ ali manj',
       '3+4 - nižje, srednje poklicno izobr.',
       '5 - srednje tehniško, strokovno, splošno izobr.',
       '6+7+8 - visokošolsko izobr. prve, druge, tretje stopnje', 'Skupaj',
       'month', 'year', '__year'],
      dtype='object')
NORM: po-uradih-za-delo_izobrazba, column names: Index(['Urad za delo', '1+2 - OŠ ali manj',
       '3+4 - nižje, srednje poklicno izobr.',
       '5 - srednje tehniško, strokovno, splošno izobr.',
       '6+7+8 - visokošolsko izobr. prve, druge, tretje stopnje', 'Skupaj',
       'month', 'year', '__year'],
      dtype='object')
PREJ: po-uradih-za-delo_spol, column names: Index(['Urad za delo', 'Moški', 'Ženske', 'Skupaj', 'month', 'year', '__year'], dtype='object')
NORM: po-uradih-za-delo_spol, column names: Index(['Urad za delo', 'Moški', 'Ženske', 'Skupaj', 'month', 'year', '__year'], dtype='object')
PREJ: po-uradih-za-delo_starost, column names: Index(['Urad za delo', '15 do 24 let', '25 do 29 let', '30 do 39 let',
       '40 do 49 let', '50 do 54 let', '55 ali več', 'Skupaj', 'month', 'year',
       '__year'],
      dtype='object')
NORM: po-uradih-za-delo_starost, column names: Index(['Urad za delo', '15 do 24 let', '25 do 29 let', '30 do 39 let',
       '40 do 49 let', '50 do 54 let', '55 ali več', 'Skupaj', 'month', 'year',
       '__year'],
      dtype='object')
PREJ: po-uradih-za-delo_trajanje-brezposelnosti, column names: Index(['Urad za delo', 'Do 2 mesecev', '3 do 5 mesecev', '6 do 8 mesecev',
       '9 do 11 mesecev', '12 do 23 mesecev', '24 do 35 mesecev',
       '36 mesecev ali več', 'Skupaj', 'month', 'year', '__year'],
      dtype='object')
NORM: po-uradih-za-delo_trajanje-brezposelnosti, column names: Index(['Urad za delo', 'Do 2 mesecev', '3 do 5 mesecev', '6 do 8 mesecev',
       '9 do 11 mesecev', '12 do 23 mesecev', '24 do 35 mesecev',
       '36 mesecev ali več', 'Skupaj', 'month', 'year', '__year'],
      dtype='object')