# Vizualizacija podatkov

### Oblika podatkov

In [49]:
import pandas as pd
import os

# Set the directory containing the CSV files
directory = "structured_data/"

# Initialize an empty dictionary to store the DataFrames
data_dict = {}

# Loop through all CSV files in the directory
for filename in os.listdir(directory):
    if filename.endswith(".csv"):
        # Get the filename without the extension
        name = os.path.splitext(filename)[0]
        filepath = os.path.join(directory, filename)
        # Read the CSV file into a Pandas DataFrame
        df = pd.read_csv(filepath)
        # Append the DataFrame to the dictionary using the filename as the key
        data_dict[name] = df
        
d = None

# Print the dictionary to verify the contents
for key, dataFrame in data_dict.items():
    print(f"Table: {key}, St. vrstic: {len(dataFrame)}")
    display(dataFrame.info())

Table: delovno_prebivalstvo, St. vrstic: 57510
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57510 entries, 0 to 57509
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   num                 57510 non-null  object
 1   OB�INE              57510 non-null  object
 2   LETO                57510 non-null  int64
 3   DOSE�ENA IZOBRAZBA  57510 non-null  object
 4   SPOL                57510 non-null  object
dtypes: int64(1), object(4)
memory usage: 2.2+ MB

None

Table: po-obcinah_izobrazba, St. vrstic: 13278
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13278 entries, 0 to 13277
Data columns (total 8 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   Občina                                     13206 non-null  object
 1   OŠ ali manj                                13206 non-null  object
 2   srednje poklicno izobraževanje             13206 non-null  object
 3   strokovno, splošno izobraževanje           13206 non-null  object
 4   izobraževanje prve, druge, tretje stopnje  13206 non-null  object
 5   Skupaj                                     13242 non-null  float64
 6   month                                      13278 non-null  object
 7   year                                       13278 non-null  int64
dtypes: float64(1), int64(1), object(6)
memory usage: 830.0+ KB

None

Table: po-obcinah_spol, St. vrstic: 13278
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13278 entries, 0 to 13277
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Občina  13206 non-null  object
 1   Moški   13206 non-null  float64
 2   Ženske  13206 non-null  float64
 3   Skupaj  13242 non-null  float64
 4   month   13278 non-null  object
 5   year    13278 non-null  int64
dtypes: float64(3), int64(1), object(2)
memory usage: 622.5+ KB

None

Table: po-obcinah_starost, St. vrstic: 13278
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13278 entries, 0 to 13277
Data columns (total 10 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Občina          13206 non-null  object
 1   15 do 24 let    13206 non-null  object
 2   25 do 29 let    13206 non-null  object
 3   30 do 39 let    13206 non-null  object
 4   40 do 49 let    13206 non-null  object
 5   50 do 54 let    13206 non-null  object
 6   55 let ali več  13206 non-null  object
 7   Skupaj          13242 non-null  float64
 8   month           13278 non-null  object
 9   year            13278 non-null  int64
dtypes: float64(1), int64(1), object(8)
memory usage: 1.0+ MB

None

Table: po-obcinah_trajanje-brezposelnosti, St. vrstic: 10698
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10698 entries, 0 to 10697
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Občina              10650 non-null  object
 1   Do 2 mesecev        10650 non-null  object
 2   3 do 5 mesecev      10650 non-null  object
 3   6 do 8 mesecev      10650 non-null  object
 4   9 do 11 mesecev     10650 non-null  object
 5   12 do 23 mesecev    10650 non-null  object
 6   24 do 35 mesecev    10650 non-null  object
 7   36 mesecev ali več  10650 non-null  object
 8   Skupaj              10674 non-null  float64
 9   month               10698 non-null  object
 10  year                10698 non-null  int64
dtypes: float64(1), int64(1), object(9)
memory usage: 919.5+ KB

None

Table: po-statisticnah-regijah_izobrazba, St. vrstic: 950
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 950 entries, 0 to 949
Data columns (total 8 columns):
 #   Column                                                   Non-Null Count  Dtype
---  ------                                                   --------------  -----
 0   Kohezijska / Statistična regija                          800 non-null    object
 1   1+2              OŠ ali manj                             800 non-null    float64
 2   3+4 - nižje, srednje poklicno izobr.                     800 non-null    float64
 3   5 - srednje tehniško, strokovno, splošno izobr.          800 non-null    float64
 4   6+7+8 - visokošolsko izobr. prve, druge, tretje stopnje  800 non-null    float64
 5   Skupaj                                                   800 non-null    float64
 6   month                                                    950 non-null    object
 7   year                                                     950 non-null    int64
dtypes: float64(5), int64(1), object(2)
memory usage: 59.5+ KB

None

Table: po-statisticnah-regijah_spol, St. vrstic: 1178
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1178 entries, 0 to 1177
Data columns (total 6 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Kohezijska / statistična regija  992 non-null    object
 1   Moški                            992 non-null    float64
 2   Ženske                           992 non-null    float64
 3   Skupaj                           992 non-null    float64
 4   month                            1178 non-null   object
 5   year                             1178 non-null   int64
dtypes: float64(3), int64(1), object(2)
memory usage: 55.3+ KB

None

Table: po-statisticnah-regijah_starost, St. vrstic: 266
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 266 entries, 0 to 265
Data columns (total 10 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Kohezijska /
statistična regija  224 non-null    object
 1   15-24
let                         224 non-null    float64
 2   25-29
let                         224 non-null    float64
 3   30-39
let                         224 non-null    float64
 4   40-49
let                         224 non-null    float64
 5   50-54
let                         224 non-null    float64
 6   55 let
ali več                   224 non-null    float64
 7   Skupaj                            224 non-null    float64
 8   month                             266 non-null    object
 9   year                              266 non-null    int64
dtypes: float64(7), int64(1), object(2)
memory usage: 20.9+ KB

None

Table: po-statisticnah-regijah_trajanje-brezposelnosti, St. vrstic: 1178
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1178 entries, 0 to 1177
Data columns (total 11 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Kohezijska / statistična regija  992 non-null    object
 1   Do 2 meseca                      992 non-null    float64
 2   3 do 5 mesecev                   992 non-null    float64
 3   6 do 8 mesecev                   992 non-null    float64
 4   9 do 11 mesecev                  992 non-null    float64
 5   12 do 23
 mesecev                992 non-null    float64
 6   24 do 35
 mesecev                992 non-null    float64
 7   36 mesecev ali več               992 non-null    float64
 8   Skupaj                           992 non-null    float64
 9   month                            1178 non-null   object
 10  year                             1178 non-null   int64
dtypes: float64(8), int64(1), object(2)
memory usage: 101.4+ KB

None

Table: po-uradih-za-delo_izobrazba, St. vrstic: 4412
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4412 entries, 0 to 4411
Data columns (total 8 columns):
 #   Column                                                   Non-Null Count  Dtype
---  ------                                                   --------------  -----
 0   Urad za delo                                             4340 non-null   object
 1   1+2 - OŠ ali manj                                        4340 non-null   float64
 2   3+4 - nižje, srednje poklicno izobr.                     4340 non-null   float64
 3   5 - srednje tehniško, strokovno, splošno izobr.          4340 non-null   float64
 4   6+7+8 - visokošolsko izobr. prve, druge, tretje stopnje  4340 non-null   float64
 5   Skupaj                                                   4376 non-null   float64
 6   month                                                    4412 non-null   object
 7   year                                                     4412 non-null   object
dtypes: float64(5), object(3)
memory usage: 275.9+ KB

None

Table: po-uradih-za-delo_spol, St. vrstic: 4412
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4412 entries, 0 to 4411
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Urad za delo  4340 non-null   object
 1   Moški         4340 non-null   float64
 2   Ženske        4340 non-null   float64
 3   Skupaj        4376 non-null   float64
 4   month         4412 non-null   object
 5   year          4412 non-null   int64
dtypes: float64(3), int64(1), object(2)
memory usage: 206.9+ KB

None

Table: po-uradih-za-delo_starost, St. vrstic: 4412
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4412 entries, 0 to 4411
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Urad za delo  4340 non-null   object
 1   15 do 24 let  4340 non-null   float64
 2   25 do 29 let  4340 non-null   float64
 3   30 do 39 let  4340 non-null   float64
 4   40 do 49 let  4340 non-null   float64
 5   50 do 54 let  4340 non-null   float64
 6   55 ali več    4340 non-null   float64
 7   Skupaj        4376 non-null   float64
 8   month         4412 non-null   object
 9   year          4412 non-null   int64
dtypes: float64(7), int64(1), object(2)
memory usage: 344.8+ KB

None

Table: po-uradih-za-delo_trajanje-brezposelnosti, St. vrstic: 4412
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4412 entries, 0 to 4411
Data columns (total 11 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Urad za delo        4340 non-null   object
 1   Do 2 mesecev        4340 non-null   float64
 2   3 do 5 mesecev      4340 non-null   float64
 3   6 do 8 mesecev      4340 non-null   float64
 4   9 do 11 mesecev     4340 non-null   float64
 5   12 do 23 mesecev    4340 non-null   float64
 6   24 do 35 mesecev    4340 non-null   float64
 7   36 mesecev ali več  4340 non-null   float64
 8   Skupaj              4376 non-null   float64
 9   month               4412 non-null   object
 10  year                4412 non-null   int64
dtypes: float64(8), int64(1), object(2)
memory usage: 379.3+ KB

None