# Vizualizacija podatkov

In [19]:
import pandas as pd
import os

# Set the directory containing the CSV files
directory = "structured_data/"

# Initialize an empty dictionary to store the DataFrames
data_dict = {}

# Loop through all CSV files in the directory
for filename in os.listdir(directory):
    if filename.endswith(".csv"):
        # Get the filename without the extension
        name = os.path.splitext(filename)[0]
        filepath = os.path.join(directory, filename)
        # Read the CSV file into a Pandas DataFrame
        df = pd.read_csv(filepath)
        # Append the DataFrame to the dictionary using the filename as the key
        data_dict[name] = df
        
d = None

# Print the dictionary to verify the contents
for key, dataFrame in data_dict.items():
    print(f"Table: {key}")
    display(dataFrame.head(3))

Table: po-obcinah_izobrazba

,Občina,OŠ ali manj,srednje poklicno izobraževanje,"strokovno, splošno izobraževanje","izobraževanje prve, druge, tretje stopnje",Skupaj,month,year
0,AJDOVŠČINA,224.0,180.0,173.0,122.0,699.0,JAN,2018
1,ANKARAN,30.0,28.0,43.0,20.0,121.0,JAN,2018
2,APAČE,79.0,80.0,36.0,24.0,219.0,JAN,2018

Table: po-obcinah_spol

       Občina  Moški  Ženske  Skupaj month  year
0  AJDOVŠČINA  335.0   364.0   699.0   JAN  2018
1     ANKARAN   54.0    67.0   121.0   JAN  2018
2       APAČE  104.0   115.0   219.0   JAN  2018

Table: po-obcinah_starost

,Občina,15 do 24 let,25 do 29 let,30 do 39 let,40 do 49 let,50 do 54 let,55 let ali več,Skupaj,month,year
0,AJDOVŠČINA,53.0,86.0,157.0,113.0,111.0,179.0,699.0,JAN,2018
1,ANKARAN,3.0,16.0,24.0,29.0,14.0,35.0,121.0,JAN,2018
2,APAČE,21.0,23.0,44.0,38.0,35.0,58.0,219.0,JAN,2018

Table: po-obcinah_trajanje-brezposelnosti

,Občina,Do 2 mesecev,3 do 5 mesecev,6 do 8 mesecev,9 do 11 mesecev,12 do 23 mesecev,24 do 35 mesecev,36 mesecev ali več,Skupaj,month,year
0,AJDOVŠČINA,158.0,104.0,47.0,34.0,114.0,48.0,194.0,699.0,JAN,2018
1,ANKARAN,36.0,18.0,9.0,9.0,13.0,6.0,30.0,121.0,JAN,2018
2,APAČE,66.0,23.0,9.0,10.0,46.0,12.0,53.0,219.0,JAN,2018

Table: po-statisticnah-regijah_izobrazba

,Kohezijska / Statistična regija,1+2 OŠ ali manj,"3+4 - nižje, srednje poklicno izobr.","5 - srednje tehniško, strokovno, splošno izobr.","6+7+8 - visokošolsko izobr. prve, druge, tretje stopnje",Skupaj,month,year
0,Slovenija,27666.0,23433.0,22082.0,14738.0,87919.0,JAN,2018
1,NaN,NaN,NaN,NaN,NaN,NaN,JAN,2018
2,Vzhodna Slovenija,16823.0,14864.0,12665.0,7820.0,52172.0,JAN,2018

Table: po-statisticnah-regijah_spol

  Kohezijska / statistična regija    Moški   Ženske   Skupaj month  year
0                       Slovenija  44807.0  43112.0  87919.0   JAN  2018
1                             NaN      NaN      NaN      NaN   JAN  2018
2               Vzhodna Slovenija  25840.0  26332.0  52172.0   JAN  2018

Table: po-statisticnah-regijah_starost

,Kohezijska / \nstatistična regija,15-24\nlet,25-29\nlet,30-39\nlet,40-49\nlet,50-54\nlet,55 let \nali več,Skupaj,month,year
0,Slovenija,6038.0,6667.0,14342.0,14486.0,6998.0,19303.0,67834.0,JAN,2022
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,JAN,2022
2,Vzhodna Slovenija,4036.0,3813.0,7925.0,8051.0,4182.0,11330.0,39337.0,JAN,2022

Table: po-statisticnah-regijah_trajanje-brezposelnosti

,Kohezijska / statistična regija,Do 2 meseca,3 do 5 mesecev,6 do 8 mesecev,9 do 11 mesecev,12 do 23\n mesecev,24 do 35\n mesecev,36 mesecev ali več,Skupaj,month,year
0,Slovenija,21974.0,11742.0,6073.0,4469.0,14511.0,6810.0,22340.0,87919.0,JAN,2018
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,JAN,2018
2,Vzhodna Slovenija,13167.0,6813.0,3440.0,2571.0,8565.0,4157.0,13459.0,52172.0,JAN,2018

Table: po-uradih-za-delo_izobrazba

,Urad za delo,1+2 - OŠ ali manj,"3+4 - nižje, srednje poklicno izobr.","5 - srednje tehniško, strokovno, splošno izobr.","6+7+8 - visokošolsko izobr. prve, druge, tretje stopnje",Skupaj,month,year
0,OS Celje,2906.0,2745.0,2378.0,1449.0,9478.0,JAN,2018
1,UD Celje,934.0,907.0,864.0,596.0,3301.0,JAN,2018
2,UD Laško,196.0,210.0,208.0,89.0,703.0,JAN,2018

Table: po-uradih-za-delo_spol

  Urad za delo   Moški  Ženske  Skupaj month  year
0     OS Celje  4717.0  4761.0  9478.0   JAN  2018
1     UD Celje  1634.0  1667.0  3301.0   JAN  2018
2     UD Laško   363.0   340.0   703.0   JAN  2018

Table: po-uradih-za-delo_starost

,Urad za delo,15 do 24 let,25 do 29 let,30 do 39 let,40 do 49 let,50 do 54 let,55 ali več,Skupaj,month,year
0,OS Celje,696.0,1068.0,2007.0,1916.0,1295.0,2496.0,9478.0,JAN,2018
1,UD Celje,213.0,360.0,770.0,683.0,421.0,854.0,3301.0,JAN,2018
2,UD Laško,49.0,84.0,156.0,135.0,89.0,190.0,703.0,JAN,2018

Table: po-uradih-za-delo_trajanje-brezposelnosti

,Urad za delo,Do 2 mesecev,3 do 5 mesecev,6 do 8 mesecev,9 do 11 mesecev,12 do 23 mesecev,24 do 35 mesecev,36 mesecev ali več,Skupaj,month,year
0,OS Celje,2297.0,1208.0,591.0,479.0,1612.0,749.0,2542.0,9478.0,JAN,2018
1,UD Celje,939.0,427.0,214.0,146.0,583.0,232.0,760.0,3301.0,JAN,2018
2,UD Laško,126.0,94.0,43.0,50.0,124.0,79.0,187.0,703.0,JAN,2018

### Oblika podatkov