In [1]:
import pandas as pd

# Create sample data
data = {
    'Column1': [1, 2, 3, 4],
    'Column2': [5, 6, 7, 8],
    'Column3': [9, 10, 11, 12],
    'Column4': [13, 14, 15, 16]
}

# Create a multi-index DataFrame
df = pd.DataFrame(data)

# Add a multi-index to the DataFrame
df.columns = pd.MultiIndex.from_tuples([('Group1', 'Column1'), ('Group1', 'Column2'), ('Group2', 'Column3'), ('Group2', 'Column4')])

# Display the DataFrame
print(df)

   Group1          Group2
  Column1 Column2 Column3 Column4
0       1       5       9      13
1       2       6      10      14
2       3       7      11      15
3       4       8      12      16

In [4]:
levels = df.columns.tolist()

# Display the result
print(levels)
print(df)

[('Group1', 'Column1'), ('Group1', 'Column2'), ('Group2', 'Column3'), ('Group2', 'Column4')]
   Group1          Group2
  Column1 Column2 Column3 Column4
0       1       5       9      13
1       2       6      10      14
2       3       7      11      15
3       4       8      12      16

In [5]:
df.columns = df.columns.map('_'.join)

# Display the updated DataFrame
print(df)

   Group1_Column1  Group1_Column2  Group2_Column3  Group2_Column4
0               1               5               9              13
1               2               6              10              14
2               3               7              11              15
3               4               8              12              16